{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
<p>PASSWORD DOESN'T MATCH WITH EXISTING ACCOUNT</p>
{% else %}


{% endif %}
<div class="card-panel teal lighten-2">
    <h4 class="center white-text">Login</h4>
</div>
<div class="card-panel">
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}">
        <input class ="form-button" type="submit" value="Log-in">
        <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        <a href="{% url 'password_reset' %}"> Forget Password</a>
      </form>
</div>



{% endblock %}