{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  {% if validlink %}
  <div class="card-panel teal lighten-2">
      <h4 class="center white-text">Reset your password</h4>
  </div>
  <div class="card-panel">
      <p>Please enter your new password twice:</p>
      <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
           <div class="center">
      <input  type="submit" value="Change Password" class="btn-large waves-effect waves-light  z-depth-5">
    </div>
      </form>
  </div>

  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %} 