
{%  extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}

   <div class="card-panel teal lighten-2">
      <h4 class="center white-text">SignUp.</h4>
    </div>
    <div class="card-panel">
        <form class="login-form"  method="POST">{% csrf_token %}
            {{ user_form }}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="center">
            <input  type="submit" value="Sign Up" class="btn-large waves-effect waves-light  z-depth-5">
         </div>
         
          </form>
    </div>

{% endblock %}